
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* 更换头像 */
#avatar{
    position: absolute;
    left: 300px;
    width: 1098px;
    height: 733px;
    opacity: 1;
    border-radius: 45px;
    background: rgba(52, 209, 209, 1);
    border: 4px solid rgba(255, 141, 26, 1);
}
/* 解释文本 */
.explain{
    position: absolute;
    left: 121px;
    top: 69px;
    width: 893px;
    height: 105px;
    opacity: 1;
    /* 文本1 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 17px;
    line-height: 105px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
/* 展示头像框 */
.show{
    position: absolute;
    left: 452px;
    top: 154px;
    width: 190px;
    height: 185px;
    opacity: 1;
    border-radius: 90px;
    border: 5px solid rgba(212, 201, 201, 1);
    background: url("https://img.js.design/assets/img/63354e177ca7bb9a4f82f202.png#6df6a382683443fe2c7aad02f9ef8857");
    background-size: 100% 100%;
}
/* 头像列表 */
.list{
    position: absolute;
    left: 0;
    top: 367px;
    width: 1098px;
    height: 190px;
    opacity: 1;
    border: 2px solid rgba(224, 140, 72, 1);
    overflow-x: scroll;
    overflow-y: hidden;
}
ul{
    width: 1400px;
    height: 190px;
}
li{
    width: 170px;
    height: 170px;
    opacity: 1;
    display: inline-block;
    border-radius: 85px;
}
li:hover{
    box-shadow: 0 0 50px green;
}
li:active{
    width: 165px;
    height: 165px;
}
ul > li:nth-child(1){
    position: relative;
    left: 0;
    top: 0;
    margin-right: 15px;
    background: url("https://img.js.design/assets/img/63354e177ca7bb9a4f82f202.png#6df6a382683443fe2c7aad02f9ef8857");
    background-size: 100% 100%;

}
ul > li:nth-child(2){
    position: relative;
    left: 0;
    top: 0;
    margin: 0 15px;
    background: url("https://img.js.design/assets/img/6337e10090e635c199f7dcdb.png#99da28dcb3436e45aec23bffcfa82c02");
    background-size: 100% 100%;
}
ul > li:nth-child(3){
    position: relative;
    left: 0;
    top: 0;
    margin: 0 15px;
    background: url("https://img.js.design/assets/img/633831f47ca7bb9a4ff4c07d.png#41d9479e67ba5912dbbe032efa2cd2dc");
    background-size: 100% 100%;
}
ul > li:nth-child(4){
    position: relative;
    left: 0;
    top: 0;
    margin: 0 15px;
    background: url("https://img.js.design/assets/img/6338325690e635c199ffc543.png#5bcfc17a830017ef01a91ead3c66eb3d");
    background-size: 100% 100%;
}
ul > li:nth-child(5){
    position: relative;
    left: 0;
    top: 0;
    margin: 0 15px;
    background: url("https://img.js.design/assets/img/6338334790e635c199ffda5a.png#2b969383709fc3b705a4cc012765c343");
    background-size: 100% 100%;
}
ul > li:nth-child(6){
    position: relative;
    left: 0;
    top: 0;
    margin: 0 15px;
    background: url("https://img.js.design/assets/img/633836f07d347882146bc9bf.png#c627e500914846c00a147a05c7f733e0");
    background-size: 100% 100%;
}
ul > li:nth-child(7){
    position: relative;
    left: 0;
    top: 0;
    margin-left: 15px;
    background: url("https://img.js.design/assets/img/6338374b025a07c7c9ec4876.png#adeb499d7c3581bde77d2c7dfd1206a");
    background-size: 100% 100%;
}
/* 关闭按钮 */
.close{
    position: absolute;
    left: 1030px;
    top: 21px;
    width: 50px;
    height: 48px;
    opacity: 1;
    border-radius: 90px;
    border: 2px solid rgba(0, 0, 0, 1);
    background: url("https://img.js.design/assets/img/6336512190e635c199be20b1.png#0b7a3bc9085cbc61104431ad865abde2");
    background-size: 100% 100%;
}
.close:hover{
    box-shadow: 0 0 50px #ff2525;
}
.close:active{
    width: 25px;
    height: 24px;
    position: absolute;
    left: 1040px;
    top: 28px;
}
/* 确认按钮 */
#confirm{
    position: absolute;
    left: 161px;
    top: 571px;
    width: 230px;
    height: 90px;
    opacity: 1;
    border-radius: 45px;
    border: 3px solid rgba(0, 0, 0, 1);
    background: rgba(28, 214, 102, 1);
    /** 文本1 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px  rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 17px;
    line-height: 90px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#confirm:hover{
    box-shadow: 0 0 50px #b6c122;
}
#confirm:active{
    background: rgb(27, 242, 36);
}
/* 取消按钮 */
#cancel{
    position: absolute;
    left: 717px;
    top: 571px;
    width: 230px;
    height: 90px;
    opacity: 1;
    border-radius: 45px;
    border: 3px solid rgba(0, 0, 0, 1);
    background: rgba(204, 73, 73, 1);
    /** 文本1 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px  rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 17px;
    line-height: 90px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#cancel:hover{
    box-shadow: 0 0 50px #b6c122;
}
#cancel:active{
    background: rgb(255, 0, 0);
}