/* 对局结算 */
#countScore{
    position: absolute;
    left: 110px;
    width: 1280px;
    height: 800px;
    background: url("https://img.js.design/assets/img/6337cc93a87ff65bec54d992.png#995076947ff966d2b96a121d48447892");
    background-size: 100% 100%;
    display: none;
}
/* 玩家分区 */
#countScore > .A{
    position: absolute;
    left: 0;
    top: 100px;
    width: 390px;
    height: 500px;
}
#countScore > .B{
    position: absolute;
    left: 890px;
    top: 100px;
    width: 390px;
    height: 500px;
}
/* 昵称 */
#countScore .name{
    position: absolute;
    left: 0;
    top: 0;
    width: 390px;
    height: 75px;
    opacity: 1;
    /** 文本1 */
    font-size: 64px;
    font-family: "851手書き雑フォント", serif;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 75px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: top;
}
/* 头像 */
#countScore .avatar{
    position: absolute;
    left: 83px;
    top: 75px;
    width: 224px;
    height: 224px;
    opacity: 1;
    border-radius: 112px;
}
#countScore > .A > .avatar{
    background: url("https://img.js.design/assets/img/63354e177ca7bb9a4f82f202.png#6df6a382683443fe2c7aad02f9ef8857");
    background-size: 100% 100%;
}
#countScore > .B > .avatar{
    background: url("https://img.js.design/assets/img/6337e10090e635c199f7dcdb.png#99da28dcb3436e45aec23bffcfa82c02");
    background-size: 100% 100%;
}
/* 对局结果 */
#countScore .state{
    position: absolute;
    left: 0;
    top: 323px;
    width: 390px;
    height: 72px;
    opacity: 1;
    /** 文本1 */
    font-family: "851手書き雑フォント",serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 72px;
    text-align: center;
    vertical-align: top;
}
/* 得分 */
#countScore .score{
    position: absolute;
    left: 0;
    top: 428px;
    width: 390px;
    height: 72px;
    opacity: 1;
    /** 文本1 */
    font-family: "851手書き雑フォント",serif;
    color: black;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 72px;
    text-align: center;
    vertical-align: top;
}
/* 再来一局 */
#again{
    position: absolute;
    left: 416px;
    top: 355px;
    width: 100px;
    height: 100px;
    opacity: 1;
    border-radius: 30px;
    background: linear-gradient(135.15deg, rgba(255, 17, 0, 1) 0%, rgba(196, 75, 67, 0.01) 100%);
    border: 3px solid rgba(237, 65, 26, 0.4);

    /* 文本 */
    font-family: "851手書き雑フォント",serif;
    text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#again:hover{
    box-shadow: 0 0 100px red;
}
#again:active{
    font-size: 30px;
    letter-spacing: 4px;
}
/* 回到主菜单 */
#goBack{
    position: absolute;
    left: 745px;
    top: 350px;
    width: 100px;
    height: 100px;
    opacity: 1;
    border-radius: 30px;
    background: rgba(0, 186, 173, 1);
    border: 3px solid rgba(237, 65, 26, 0.4);
    /* 文本 */
    font-family: "851手書き雑フォント",serif;
    text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#goBack:hover{
    box-shadow: 0 0 100px red;
}
#goBack:active{
    font-size: 30px;
    letter-spacing: 4px;
}