/* 初始化 */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/* 游戏骨架 */
.PK{
    position: absolute;
    left: 100px;
    width: 1280px;
    height: 800px;
    opacity: 1;
    background: url("https://img.js.design/assets/img/6337cc93a87ff65bec54d992.png#995076947ff966d2b96a121d48447892");
    background-size: 100% 100%;
    overflow: hidden;
}
/* 数值时间区域 */
#time-digit{
    position: absolute;
    left: 528px;
    top: 0;
    width: 224px;
    height: 72px;
    opacity: 1;
    background: rgba(191, 211, 219, 1);
}
#timeValue{
    position: absolute;
    left: 70px;
    top: 0;
    width: 96px;
    height: 72px;
    opacity: 1;
    background: rgba(204, 204, 204, 1);

    /* 文本 */
    font-family: "黑体",serif;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 72px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#time-digit > span{
    width: 66px;
    height: 72px;
    font-size: 36px;
    font-weight: bold;
    line-height: 72px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
span:nth-of-type(2){
    position: absolute;
    left: 158px;
}
/* 时间条 */
#time-block{
    position: absolute;
    left: 619px;
    top: 83px;
    width: 52px;
    height: 661px;
    opacity: 1;

    border-radius: 45px;
    background: linear-gradient(180deg, rgba(224, 20, 20, 0.01) 0%, rgba(214, 34, 34, 0.5) 50%),
    linear-gradient(180deg, rgba(9, 181, 89, 1) 50%, rgba(204, 204, 204, 0.01) 100%);
    border: 1px solid rgba(0, 0, 0, 1);
}
/* 玩家区域 */

/* 棋盘 */
.brode{
    width: 402px;
    height: 402px;
    opacity: 1;
    background: url("https://img.js.design/assets/img/633ed3a119f6e1ba7a638668.png#6eb162c4ac92f19304c64b4583f21cbe");
    background-size: 100% 100%;
}
ul{
    width: 402px;
    height: 402px;
}
li{
    width: 134px;
    height: 134px;
}

.A > .brode{
    position: absolute;
    left: 126px;
    top: 176px;
}
.B > .brode{
    position: absolute;
    left: 752px;
    top: 176px;
}
li:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 0;
}
li:nth-of-type(2){
    position: absolute;
    left: 134px;
    top: 0;
}
li:nth-of-type(3){
    position: absolute;
    left: 268px;
    top: 0;
}
li:nth-of-type(4){
    position: absolute;
    left: 0;
    top: 134px;
}
li:nth-of-type(5){
    position: absolute;
    left: 134px;
    top: 134px;
}
li:nth-of-type(6){
    position: absolute;
    left: 268px;
    top: 134px;
}
li:nth-of-type(7){
    position: absolute;
    left: 0;
    top: 268px;
}
li:nth-of-type(8){
    position: absolute;
    left: 134px;
    top: 268px;
}
li:nth-of-type(9){
    position: absolute;
    left: 268px;
    top: 268px;
}
/* 头像及昵称 */
.avatar{
    width: 112px;
    height: 112px;
    opacity: 1;
    border-radius: 56px;
}
.A > .avatar{
    position: absolute;
    left: 45px;
    top: 688px;
    background: url("https://img.js.design/assets/img/63354e177ca7bb9a4f82f202.png#6df6a382683443fe2c7aad02f9ef8857");
    background-size: 100% 100%;
}
.B > .avatar{
    position: absolute;
    left: 1125px;
    top: 0;
    background: url("https://img.js.design/assets/img/6337e10090e635c199f7dcdb.png#99da28dcb3436e45aec23bffcfa82c02");
    background-size: 100% 100%;
}
.name{
    width: 200px;
    height: 58px;
    font-family: "851手書き雑フォント", serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 58px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
.PK > .A > .name{
    position: absolute;
    left: 0;
    top: 630px;
}
.PK > .B > .name{
    position: absolute;
    left: 1080px;
    top: 112px;
}
/* 提示文本 */
.tip{
    width: 528px;
    height: 52px;
    opacity: 1;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 52px;
    color: rgba(227, 34, 34, 1);
    text-align: center;
    vertical-align: middle;
}
.A > .tip{
    position: absolute;
    left: 65px;
    top: 577px;
}
.B > .tip{
    position: absolute;
    left: 700px;
    top: 577px;
}
/* 投掷区域 */
/* 背景 */
.dice-block{
    width: 400px;
    height: 400px;
    opacity: 1;
    border-radius: 200px;
    background: linear-gradient(229.63deg, rgba(222, 146, 188, 1) 0%, rgba(81, 204, 37, 0.01) 100%);
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.25);
}
.A > .dice-block{
    position: absolute;
    left: -200px;
    top: -200px;
}
.B > .dice-block{
    position: absolute;
    left: 1080px;
    top: 600px;
}
/* 投掷按钮 */
.button{
    width: 124px;
    height: 48px;
    border-radius: 45px;
    border: 2px solid rgba(0, 0, 0, 1);
    /* 文本 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
.button:hover{
    box-shadow: 0 0 100px #df2222;
}
.button:active{
    font-size: 30px;
}
.A > .dice-block > .button{
    position: absolute;
    left: 205px;
    top: 215px;
    background: rgba(227, 60, 100, 1);
}
.B > .dice-block > .button{
    position: absolute;
    left: 60px;
    top: 130px;
    background: rgba(227, 60, 100, 1);
}
/* 展示框 */
.show{
    width: 60px;
    height: 60px;
    opacity: 1;
    border: 2px dashed rgba(232, 220, 242, 1);
}
.A > .dice-block > .show{
    position: absolute;
    left: 235px;
    top: 285px;
}
.B > .dice-block > .show{
    position: absolute;
    left: 90px;
    top: 50px;
}
/* 托管 */
#AI{
    position: absolute;
    left: 204px;
    top: 692px;
    width: 100px;
    height: 100px;
    opacity: 1;

    border-radius: 30px;
    background: linear-gradient(135.2deg, rgba(255, 238, 0, 1) 0%, rgba(214, 199, 122, 0.5) 100%);
    border: 3px solid rgba(0, 0, 0, 1);

    /* 文本 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px  rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#AI:hover{
    box-shadow: 0 0 100px #FFE53B;
}
#AI:active{
    background: gold;
}
/* 投降 */
#giveUp{
    position: absolute;
    left: 331px;
    top: 692px;
    width: 100px;
    height: 100px;
    opacity: 1;

    border-radius: 30px;
    background: linear-gradient(135.15deg, rgba(255, 17, 0, 1) 0%, rgba(196, 75, 67, 0.01) 100%);    border: 3px solid rgba(0, 0, 0, 1);

    /* 文本 */
    font-family: "851手書き雑フォント", serif;
    text-shadow: 3px 8px 4px  rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 100px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    vertical-align: middle;
}
#giveUp:hover{
    box-shadow: 0 0 100px #df2222;
}
#giveUp:active{
    background: red;
}